In [2]:
from utils import read_new_zealand_data
read_new_zealand_data("dataset/raw/20070101.dat",'all')

        lat      lon  elev   obs     CMORPH
0   -34.432  172.682   214   0.0   0.000000
1   -34.572  172.893    55   0.0   0.000000
2   -34.950  173.195    30   6.5   0.000000
3   -34.936  173.215    18   2.7   0.000000
4   -35.057  173.740    25   0.0   0.075000
..      ...      ...   ...   ...        ...
644 -38.618  176.874   701  27.2  43.649901
645 -41.808  172.842   634   0.0   0.281250
646 -42.367  171.413    35   0.0   0.025000
647 -41.102  174.063    41  20.5   0.699990
648 -39.122  174.083   160   0.0   2.999991

[649 rows x 5 columns]

In [10]:
from graph_datasets import RandomLeaveOneOutDataset,SparseObsDataset
dataset=SparseObsDataset("dataset","sparse_south","south")
dataset

SparseObsDataset(5480)

In [47]:
data=dataset[9]

In [59]:
from trainer import GNNTrainer,StatisticInterpTrainer
lis=[]
for i in range(10):
    trainer=GNNTrainer("AGAIN",max_epochs=1000)
    lis.append(trainer.calculate(data)[0])

In [60]:
sum(lis)/len(lis)

1.9095701217651366

In [61]:
from models.interpolators import ADW
trainer=StatisticInterpTrainer(ADW(n_neighbors=20, cdd=60, m=4))
trainer.calculate(data)

(1.7632058049071935,
      test_index        lat         lon  obs      pred
 0            23 -43.394001  170.181000  2.4  0.000000
 1            94 -43.609001  171.733002  3.2  3.223384
 2            72 -42.921001  172.429993  0.0  1.428062
 3           143 -44.741001  171.035995  0.0  0.505069
 4           200 -45.189999  169.311005  0.0  0.303229
 ..          ...        ...         ...  ...       ...
 152         107 -43.474998  171.992004  1.9  2.405151
 153          60 -42.071999  173.945007  0.0  1.334200
 154          38 -41.359001  173.261002  1.9  6.171636
 155         253 -45.901001  170.514999  0.8  4.340107
 156         282 -46.183998  169.462997  1.2  1.470271

 [157 rows x 5 columns])